@charset "UTF-8";

/* Versão Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.menu_hamburguer {
display: none;
}

.cabecalho_menus {
    display: flex;
    flex-direction: row;
}

.cabecalho_menu_lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_lista {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 40px;
    color: #777777;
    font-weight: 500;
}

.menu_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #00acee;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    height: 45px;
    gap: 10px;
}

.hero_image_sara_phone {
    display: none;
}

.hero_image_sara_tablet {
    display: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image_sara_tablet > img {
    width: 100vw;
    max-width: 100%;
    display: block;
}

.analytics_button_phone {
    display: none;
}

.analytics_button_tablet {
    display: flex;
    align-items: center;
}

.analytics_button_tablet > h3 {
    margin-left: 15px;
    color: #1f7898;
}

.features > h1 {
    padding-right: 300px;
}

.price_plan {
    padding: 80px 150px 25px 150px;  
}

.price_plan_box {
    border-radius: 10px;
}

#button_trial_tablet {
    display: flex;
    justify-content: center;
}

#button_trial_tablet > button {
    padding: 0px 105px;
}

#button_trial_tablet > button > h2 {
    white-space: nowrap;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape_final {
    display: flex;
    justify-content: flex-end;
}
}

/* Desktop Devices*/
@media only screen and (min-width: 992px) {

    .cabecalho {
        padding: 25px 100px 10px 100px;
    }

    .menu_hamburguer {
        display: none;
    }
        
    .cabecalho_menus {
        display: flex;
        flex-direction: row;
    }
        
    .cabecalho_menu_lista {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        
    .menu_lista {
        display: flex;
        list-style: none;
        gap: 40px;
        margin-right: 40px;
        color: #777777;
        font-weight: 500;
    }
        
    .menu_button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background-color: #00acee;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        height: 45px;
        gap: 10px;
    }

    .hero_image {
        display: flex;
        flex-direction: row-reverse;
        padding: 25px 100px 0px 100px
    }

    .hero_image_sara_phone > img {
        max-width: 100%;
        display: block;
        width: 1030px;
    }

    .sign_in_twitter {
        height: 45px;
        gap: 10px;
        width: 220px;
    }

    #first_section_text > h1 {
        margin-right: 100px;
        font-size: 35px;
}
    }
    




}